md-toolbar.md-whiteframe-3dp(md-scroll-shrink, layout="row", layout-align="center center")
  div.md-toolbar-tools
    menu-button(hide-gt-sm)
    h1 Ger端chte
md-content.content(flex, layout-padding, layout="row", layout-align="space-around start", layout-wrap)
    md-card(flex)
      md-card-header
        md-card-header-text
          span.md-title Wir halten f端r ein Ger端cht, dass...
      md-card-content
        div(layout="row")
          md-input-container(flex)
            label ... die Sch端ler wissen wie das geht.
            input
          md-button Specihern
        p(ng-repeat="rumor in rumors.all") {{rumor.content}}
