md-toolbar.md-whiteframe-3dp(md-scroll-shrink, layout="row", layout-align="center center")
  div(flex="20")
    menu-button
  div(flex, layout="row", layout-align="center")
    h1 Gerüchte
md-content.content(flex, layout-padding, layout="row", layout-align="space-around start", layout-wrap)
    md-card(flex)
      md-card-header
        md-card-header-text
          span.md-title Wir halten für ein Gerücht, dass...
      md-card-content
        p(ng-repeat="rumor in rumors.all") {{rumor.content}}
