md-toolbar.md-whiteframe-3dp(md-scroll-shrink)
  h1 Stilblüten
md-content.content(flex, layout-padding, layout="row", layout-align="space-around start", layout-wrap)
  div(ng-repeat="quote in quotes.all", flex="100", flex-gt-md="50", flex-gt-lg="33")
    md-card
      md-card-header
        md-card-avatar
          img.md-user-avatar(src="{{quote.author.image}}")
        md-card-header-text
          span.md-title {{quote.author.name}}
          span.md-subhead {{quote.author.title}}
      md-card-content.quote
        p {{quote.content}}
      md-card-actions(layout="row", layout-align="end center")
        md-button.md-icon-button
          md-icon delete
