html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.curly{
  font-size: 1.5em;
  font-family: 'Marck Script', cursive;
}
.main{
  font-weight: bold;
  font-size: 1.5em;
}
md-card.content{
  background-color: rgba(0,0,0,0.3);
}

md-toolbar h1 {
  margin: auto;
}

h1.title{
  font-weight: 600;
  font-size: 2rem;
}

img.profile{
  border-radius: 100%;
  margin: 4px;
  height: 40px;
}
md-content.content{
  background-color: rgba(0,0,0,0.2);
}
div.content{
  background-color: rgba(0,0,0,0.2);
}
.active{
  background-color: rgba(158, 158, 158, 0.5);
}
