md-sidenav.md-sidenav-left.md-whiteframe-6dp(md-component-id="left", md-is-locked-open="$mdMedia('gt-sm')", flex)
  md-toolbar.md-whiteframe-3dp(layout="row", layout-align="center center")
    h1.title(ng-hide="sidenav.loggedin") Magazine
    div(flex="15", ng-show="sidenav.loggedin")
      img.profile(src="{{sidenav.user.image}}")
    dic(flex, ng-show="sidenav.loggedin")
      h1.title {{sidenav.user.name}}

  md-list.nav(flex, ng-if="sidenav.loggedin")
    md-list-item(ui-sref="quotes", ui-sref-active="active")
      md-icon receipt
      p <strong>Stilblüten</strong>
    md-list-item(ui-sref="rumors", ui-sref-active="active")
      md-icon list
      p <strong>Gerüchte</strong>
    md-list-item(ui-sref="comments", ui-sref-active="active")
      md-icon comment
      p <strong>Kommentare</strong>
    md-list-item(ui-sref="profile", ui-sref-active="active")
      md-icon face
      p <strong>Profil</strong>
    md-list-item(ui-sref="data", ui-sref-active="active", ng-if="sidenav.user.role > 20")
      md-icon data_usage
      p <strong>Daten</strong>
    md-list-item(ng-click="sidenav.logout()")
      md-icon lock
      p <strong>Logout</strong>

  md-list.nav(flex, ng-if="!sidenav.loggedin")
    md-list-item(ng-click="sidenav.facebook()")
      md-icon lock_open
      p <strong>Login mit Facebook</strong>
      md-divider
    //md-list-item(layout="column")
      md-input-container
        label Email
        input(type="email")
      md-input-container
        label Passwort
        input(type="password")
      br
      md-button Login mit email
