md-toolbar.md-whiteframe-3dp
  h1.title Magazine
md-list.nav(flex)
  md-list-item(ui-sref="dashboard", ui-sref-active="active")
    md-icon dashboard
    p <strong>Dashboard</strong>
  md-list-item(ui-sref="modpacks", ui-sref-active="active")
    md-icon work
    p <strong>Modpacks</strong>
  md-list-item(ui-sref="settings")
    md-icon settings
    p <strong>Settings</strong>
